{% extends "partials/sidebar.html" %}
{% load static i18n admin_urls %}
{% load model_count %}


{% block extrastyle %}<link rel="stylesheet" href="{% static 'global/css/app_index.css' %}">{% endblock extrastyle %}

  {% block content-pad %}
    {% for app in app_list %}
      <div class="dashboard-card-group">
        <h2 class="dashboard-card-group-title">{{ app.name }}</h2>
        
        <div class="dashboard-card-container">
          {% for model in app.models %}
            <div class="dashboard-card">
              <div class="dashboard-card-header">
                <i class="fas fa-folder dashboard-card-icon"></i>
                <span class="dashboard-card-name">{{ model.name }}</span>
              </div>
              
              <div class="dashboard-card-description">
                Gerencie os registros de <strong>{{ model.name|lower }}</strong>.
              </div>

              <div class="dashboard-card-footer">
                <div class="dashboard-card-actions">
                  <a href="{{ model.admin_url }}" class="dashboard-btn-view" title="Ver registros">
                    <i class="fas fa-database"></i> Ver
                  </a>
                  {% if model.add_url %}
                    <a href="{{ model.add_url }}" class="dashboard-btn-add" title="Adicionar novo">
                      <i class="fas fa-plus-circle"></i> Novo
                    </a>
                  {% endif %}
                </div>
                  <span class="dashboard-card-count">
                    {% model_total app.app_label model.object_name %} itens
                  </span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endblock content-pad %}

  {% block extrajs %}<script src="{% static 'global/js/scripts.js' %}"></script>{% endblock extrajs %}
