{% extends "partials/sidebar.html" %}
{% load static %}
{% load log %}

{% block extrastyle %}<link rel="stylesheet" href="{% static 'global/css/admin_index.css' %}">{% endblock extrastyle %}

{% block content-pad %}

<div class="dashboard-header">
  <h2>Bem-vindo(a), {{ request.user.first_name|default:request.user.username }}!</h2>
  <p class="welcome-sub">Estamos felizes em te ver novamente. Veja abaixo um resumo da sua atividade na plataforma</p>
</div>

    <div class="dashboard-overview">
      <div class="dashboard-cards">
        <div class="card">
          <h3>Animais Disponíveis</h3>
          <p class="card-number">{{animais_disponiveis}}</p>
        </div>
        <div class="card">
          <h3>Voluntários Ativos</h3>
          <p class="card-number">{{voluntarios_ativos}}</p>
        </div>
        <div class="card">
          <h3>Adoções Concluídas</h3>
          <p class="card-number">{{adocoes_concluidas}}</p>
        </div>
      </div>
    </div>
    
    <div class="recent-actions">
      <h4>Últimas Ações</h4>
      {% if admin_log %}
        <ul>
          {% for entry in admin_log %}
            <li>
              <strong>{{ entry.user.get_username }}</strong>
              {{ entry.get_action_flag_display|lower }}
              <em>{{ entry.object_repr }}</em>
              ({{ entry.content_type }})
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Nenhuma ação recente registrada.</p>
      {% endif %}
    </div>

<div class="dashboard-extras">
  <div class="highlight-box">
    <p>Você pode acessar todas as seções usando a barra lateral à esquerda. Explore os menus para gerenciar animais, voluntários e muito mais.</p>
  </div>


<div class="dashboard-message">
  <p>
    “Nossa missão é encontrar um lar seguro e cheio de amor para cada patinha resgatada. Obrigado por fazer parte disso.”
  </p>
</div>
</div>
{% endblock content-pad %}

