{% load static %}
<!DOCTYPE html>
<head>
    <html lang="pt-br">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Nome: {{animal.nome}}<br>
    Idade: {{animal.idade}}<br>
    Porte: {{animal.porte}}<br>
    Especie: {{animal.especie}}<br>
    Descrição: {{animal.descricao}}<br>
    Disponivel para adoção? {{animal.disponivel_para_adocao}}<br>
    <h1>FOTO DA CAPA</h1>
    <img src="{{animal.foto.url}}" alt="Cachorrinho Fiadaputa">
    <h1>GALERIA</h1>
    {% for img in animal.images.all %}
        <img src="{{img.image.url}}" alt="">

    {% empty %}
        <p>Não há imagens na galeria ainda.</p>
    {% endfor %}
</body>
</html>