{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Nome: {{animal.nome}}<br>
    Idade: {{animal.idade}}<br>
    Porte: {{animal.porte}}<br>
    Especie: {{animal.especie}}<br>
    Descrição: {{animal.descricao}}<br>
    Disponivel para adoção? {{animal.disponivel_para_adocao}}<br>
    <img src="{{animal.foto.url}}" alt="Cachorrinho Fiadaputa">
</body>
</html>