{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
</head>
<body>
    <h1>{{ tipo.tipo_animal }}</h1>

<section id="adoption">
  <div class="cards-grid">
    {% for animal in animals %}
      <div class="card-wrapper">
        <div class="card-base"></div>
        <div class="card-top">
          <img src="{{ animal.foto.url }}" alt="animal">
          <a href="{% url 'home:animal' animal.id %}" class="btn-3d-wrapper">
            <div class="btn-base"></div>
            <div class="btn-top"><span>QUERO ADOTAR</span></div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if animals.has_previous %}
      <a href="?page={{ animals.previous_page_number }}#adoption">Anterior</a>
    {% endif %}

    {% if animals.paginator.num_pages > 1 %}
      <span>Página {{ animals.number }} de {{ animals.paginator.num_pages }}</span>
    {% endif %}

    {% if animals.has_next %}
      <a href="?page={{ animals.next_page_number }}#adoption">Próxima</a>
    {% endif %}
  </div>
</section>
</body>
</html>