{% extends "partials/sidebar.html" %}
{% load admin_list static %}
{% load admin_urls %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'global/css/change_form.css' %}">
{% endblock %}

{% block content-pad %}
<div class="main-content">
  <h1>{% if add %}Cadastrar Animal Adotado{% else %}Modificar Animal Adotado{% endif %}</h1>
  <form method="post" enctype="multipart/form-data" class="animal-form">
    {% csrf_token %}

    {% for fieldset in adminform %}
      {% if fieldset.name == "Status da Adoção" %}
      <section class="section">
        <h2>{{ fieldset.name }}</h2>
        <div class="grid-2">
          {% for line in fieldset %}
            {% for field in line %}
              <div class="field">
                {{ field.label_tag }}
                {% if field.is_readonly %}
                  <span class="readonly-input">{{ field.contents }}</span>
                {% else %}
                  {{ field.field }}
                {% endif %}
                {{ field.errors }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </section>
      {% elif fieldset.name == "Foto de Capa" %}
      <section class="section">
        <h2>{{ fieldset.name }}</h2>
        <div class="cover-photo">
          <label>
            {% for line in fieldset %}
              {% for field in line %}
                {% if field.is_readonly %}
                  <span class="readonly-input readonly-mode" id="foto-capa-link">{{ field.contents }}</span>
                {% else %}
                  {{ field.field.as_widget }}
                  <div id="avatar" class="cover-avatar"
                    {% if field.field.value %}
                      style="background-image:url('{{ field.field.value.url }}');" class="cover-avatar image-set"
                    {% endif %}
                  ></div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </label>
        </div>
      </section>
      {% elif fieldset.name == "Dados Básicos" %}
      <section class="section">
        <h2>{{ fieldset.name }}</h2>
        <div class="grid-3">
          {% for line in fieldset %}
            {% for field in line %}
              <div class="field">
                {{ field.label_tag }}
                {% if field.is_readonly %}
                  <span class="readonly-input">{{ field.contents }}</span>
                {% else %}
                  {{ field.field }}
                {% endif %}
                {{ field.errors }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </section>
      {% elif fieldset.name == "Descrição" %}
      <section class="section section-descricao">
        <h2>{{ fieldset.name }}</h2>
        {% for line in fieldset %}
          {% for field in line %}
            {% if field.is_readonly %}
              <span class="readonly-input">{{ field.contents }}</span>
            {% else %}
              {{ field.field }}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </section>
      {% elif fieldset.name == "Idade e Nascimento" %}
      <section class="section">
        <h2>{{ fieldset.name }}</h2>
        <div class="grid-3">
          {% for line in fieldset %}
            {% for field in line %}
              {% if field.is_readonly %}
                {% if field.field.name == "data_nascimento" %}
                  <div class="field">
                    {{ field.label_tag }}
                    <span class="readonly-input">{{ field.contents }}</span>
                    {{ field.errors }}
                  </div>
                {% endif %}
              {% else %}
                <div class="field">
                  {{ field.label_tag }}
                  {{ field.field }}
                  {{ field.errors }}
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </section>
          {% elif fieldset.name == "Informações do Adotante" %}
  <section class="section ">
    <h2>{{ fieldset.name }}</h2>
    <div class="grid-2">
      {% for line in fieldset %}
        {% for field in line %}
          <div class="field {% if field.field.name == 'endereco_adotante' %}endereco-field{% endif %}">
  {{ field.label_tag }}
  {% if field.is_readonly %}
    <span class="readonly-input">{{ field.contents }}</span>
  {% else %}
    {{ field.field }}
  {% endif %}
  {{ field.errors }}
</div>

        {% endfor %}
      {% endfor %}
    </div>
  </section>
      {% endif %}
    {% endfor %}

    <div class="actions">
      {% if add and perms.animais.add_animaisadotados %}
          <input type="submit" class="btn save" value="Salvar">
          <input type="submit" class="btn cancel" name="_addanother" value="Salvar e adicionar outro">
      {% endif %}

      {% if not add and perms.animais.change_animaisadotados %}
          <input type="submit" class="btn save" value="Salvar">
          <input type="submit" class="btn cancel" name="_continue" value="Salvar e continuar editando">
          {% if perms.animais.add_animaisadotados %}
            <input type="submit" class="btn cancel" name="_addanother" value="Salvar e adicionar outro">
          {% endif %}
      {% endif %}

      {% if perms.animais.change_animais and original%}
        {% if perms.animais.add_animais %}
          <button type="button"
                  class="btn btn-adotado revert-button"
                  data-url="{% url 'admin:reverter_adocao' original.pk %}">
            Reverter Adoção
          </button>
        {% endif %}
      {% endif %}

      {% if not add and original and has_delete_permission %}
        <button class="btn btn-danger"
                id="btn-excluir-form"
                data-delete-url="{% url opts|admin_urlname:'delete' original.pk|admin_urlquote %}">
          Excluir
        </button>
      {% endif %}
    </div>
  </form>
</div>

<div class="modal-overlay" id="crud-modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h2 class="modal-title" id="crud-modal-title">Título</h2>
      <button class="close-modal" id="close-crud-modal">&times;</button>
    </div>
    <div class="modal-content" id="crud-modal-content"></div>
    <div class="crud-modal-buttons" id="crud-modal-buttons"></div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'global/js/change_form.js' %}"></script>
{% endblock %}
