{% extends "partials/sidebar.html" %}
{% load admin_list static %}
{% load admin_urls %}

  {% block content-pad %}
    <div class="form-wrapper">
      <form method="post" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}

        {% if errors %}
          <div class="form-error">
            {{ adminform.form.non_field_errors }}
          </div>
        {% endif %}

        {% for fieldset in adminform %}
          <section class="form-section {{ fieldset.classes }}">
            {% if fieldset.name %}
              <h2 class="form-section-title">{{ fieldset.name }}</h2>
            {% endif %}
            {% if fieldset.description %}
              <p class="form-section-description">{{ fieldset.description|safe }}</p>
            {% endif %}

            {% for line in fieldset %}
              <div class="form-row{% if line.errors %} has-errors{% endif %}">
                {% for field in line %}
                  <div class="form-field{% if field.is_checkbox %} is-checkbox{% endif %} form-{{ field.field.name }}">
                    <label class="form-label" for="{{ field.id_for_label }}">
                      {{ field.label_tag }}
                    </label>
                    <div class="form">
                      {{ field.field }}
                      {% if field.help_text %}
                        <p class="form-help">{{ field.help_text|safe }}</p>
                      {% endif %}
                      {{ field.errors }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </section>
        {% endfor %}

        {% block inline_formsets %}
          {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
          {% endfor %}
        {% endblock %}

        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Salvar">
          <input type="submit" class="btn btn-secondary" name="_continue" value="Salvar e continuar editando">
          <input type="submit" class="btn btn-secondary" name="_addanother" value="Salvar e adicionar outro">
          {% if original and has_delete_permission %}
            <a href="{% url opts|admin_urlname:'delete' original.pk|admin_urlquote %}" class="btn btn-danger">Excluir</a>
            <a href="#" class="btn btn-danger" onclick='activate_adopted_area()'>Adotado?</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  {% endblock content-pad %}
