{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS 4PATAS - Senha Redefinida</title>
    <link rel="stylesheet" href="{% static "global/css/modified_password.css" %}">
</head>
<body>
    <div class="modified-password-template">
        <div id="content-main">
            
            <h1>Senha Redefinida</h1>
        
            <p><br>Agora você já pode acessar sua conta utilizando seu login e a sua nova senha cadastrada. </p><br>
            
            <p>Deseja entrar no site? <a href="{% url "admin:login" %}">Entre por aqui.</a></p><br>
            
            <div class="logo-container">
                <a href="{% url "home:index" %}">
                    <span class="sos">SOS</span>
                    <span class="patas">4PATAS</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>