{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS 4PATAS - Redefinição de Senha</title>
    <link rel="stylesheet" href="{% static 'global/css/custom_password_reset.css' %}">
</head>
<body>

    <div class="reset-password-template">
        <div id="content-main">
    {% if validlink %}
        
        <h1>Redefinição de senha</h1>

        <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="id_new_password1">Nova senha:</label>
                    <div class="password-container">
                        <input type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1" onkeyup="validatePassword()">
                        <img src="{% static "global/imgs/olho.png" %}"   data-show="{% static 'global/imgs/olho.png' %}"
                        data-hide="{% static 'global/imgs/olho-fechado.png' %}" id="togglePassword1" class="toggle-icon" alt="Mostrar senha" onclick="togglePasswordVisibility('id_new_password1', 'togglePassword1')">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="id_new_password2">Confirmação da nova senha:</label>
                    <div class="password-container">
                        <input type="password" name="new_password2" autocomplete="new-password" required aria-describedby="id_new_password2_helptext" id="id_new_password2" onkeyup="isSamePassword()">
                        <img src="{% static "global/imgs/olho.png" %}"   data-show="{% static 'global/imgs/olho.png' %}"
                            data-hide="{% static 'global/imgs/olho-fechado.png' %}" id="togglePassword2" class="toggle-icon" alt="Mostrar senha" onclick="togglePasswordVisibility('id_new_password2', 'togglePassword2')">
                    </div>
                </div>
                <ul id="password-rules">
                    <li id="length" class="invalid">Pelo menos 8 caracteres</li>
                    <li id="number" class="invalid">Pelo menos um número</li>
                    <li id="lowercase" class="invalid">Pelo menos uma letra minúscula</li>
                    <li id="uppercase" class="invalid">Pelo menos uma letra maiúscula</li>
                    <li id="special" class="invalid">Pelo menos um caracter especial</li>
                    <li id="isSame" class="invalid">As senhas precisam ser iguais</li>
                </ul>

            <button type="submit" class='submit'>Alterar Senha</button>
        </form>
        
        {% else %}
        <h1>Erro ao Redefinir Senha</h1>
        <p>Houve um problema ao tentar redefinir sua senha. O link que você usou pode ter expirado ou a solicitação não foi processada corretamente. Não se preocupe! Você pode solicitar um novo link de redefinição de senha clicando no botão abaixo.</p><br>

        <a href="/accounts/password_reset/" id='reset-password'>Redefinir Senha</a>
        <p>Lembrou a senha? <a href="{% url "admin:login" %}">Entre por aqui.</a></p><br>
        {% endif %}
        <div class="logo-container">
            <a href="{% url "home:index" %}">
                <span class="sos">SOS</span>
                <span class="patas">4PATAS</span>
            </a>
        </div>
    </div>
</div>

<script src='{% static "global/js/scripts.js" %}'></script>
</body>
</html>
