{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS 4PATAS - Redefinir senha</title>
    <link rel="stylesheet" href="{% static "global/css/reset_password.css" %}">
</head>
<body>
    <div class="login-template">
        <div id="content-main">
            <h1>{% trans "Redefinir sua senha" %}</h1>
            <p>{% trans "Informe seu e-mail abaixo e enviaremos um link para criar uma nova senha." %}</p><br>
            <p>Lembrou a senha? <a href="/admin/">Entre por aqui.</a></p><br>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" placeholder='Digite seu email'autocomplete="email" maxlength="254" required id="id_email">
                </div>
                <button type="submit" class='submit'>{% trans "Enviar link de redefinição" %}</button>
            </form>
            <div class="logo-container">
                <a href="{% url "home:index" %}">
                    <span class="sos">SOS</span>
                    <span class="patas">4PATAS</span>
                </a>
            </div>
        </div>
    </div>