body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  background-color: #eef1f6;
  height: 100%;
  width: 100%;
}

.dashboard-header h2 {
  font-size: 28px;
  color: #092d73;
  margin-bottom: 6px;
}

.welcome-sub {
  font-size: 15px;
  color: #666;
  margin-bottom: 30px;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.grp-success {
  display: none;
}

.card {
  flex: 1 1 280px;
  background-color: #f7f9fc;
  border-left: 6px solid #1954cb;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.card h3 {
  margin: 0;
  font-size: 16px;
  color: #1954cb;
}

.card-number {
  font-size: 32px;
  font-weight: bold;
  color: #092d73;
  margin-top: 10px;
}

.highlight-box {
  background-color: #fff8e5;
  padding: 20px;
  border-left: 5px solid #f7d647;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-top: 30px;
}

.highlight-box p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.recent-actions {
  background-color: #ffffff;
  padding: 20px;
  border-left: 5px solid #1954cb;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.recent-actions h4 {
  margin-top: 0;
  color: #1954cb;
  font-size: 16px;
  margin-bottom: 10px;
}

.recent-actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-actions li {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  padding-left: 16px;
  position: relative;
}

.recent-actions li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #1954cb;
}

.dashboard-extras {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-message {
  margin-top: auto;
  margin-bottom: -20px;
  position: relative;
  font-style: italic;
  text-align: center;
  color: #1954cb;
  font-size: 15px;
}

.no-access,
.no-access i {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}


@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
    flex-grow: 0;
    min-height: 120px;
  }
}


