@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --amarelo-principal: #f7d647;
  --azul-principal: #092d73;
  --cinza-claro: #f4f4f4;
  --texto: #333333;
  --input-borda: #092d73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sour Gummy", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/global/imgs/pegadas.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grp-content {
  margin: 0 auto;
  width: 100%;
}

/* Container principal */
.login-template {
  background-color: white;
  padding: 20px 40px 40px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 120%;
  animation: fadeIn 0.6s ease-in-out;
  position: relative;
  right: 10%;
}

@media (max-width: 450px) {
  .login-template {
    background-color: white;
    padding: 20px 40px 40px 40px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 110%;
    animation: fadeIn 0.6s ease-in-out;
    position: relative;
    right: 5%;
  }
} 

/* Logo */

.sos {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: var(--amarelo-principal);
}

.patas {
  display: block;
  font-size: 20px;
  color: white;
  text-shadow: 
    -1px -1px 0 var(--amarelo-principal),
    1px -1px 0 var(--amarelo-principal),
    -1px  1px 0 var(--amarelo-principal),
    1px  1px 0 var(--amarelo-principal);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
}

.logo-container a {
  text-decoration: none;
  text-align: center;
}

/* Título e Paragrafo */
#content-main h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
  color: var(--azul-principal);
}

#content-main p {
  font-family: "Noto Sans", sans-serif;
}

/* Formulário */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  color: var(--texto);
  margin-bottom: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.form-group input {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--input-borda);
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: normal;
  outline: none;
  color: black;
}

.form-group input:focus {
  outline: none;
  font-weight: initial;
  border-color: var(--azul-principal);
  box-shadow: 0 0 0 3px rgba(9, 45, 115, 0.2);
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}


/* Botão */
button.submit {
  font-family: "Sour Gummy", sans-serif;
  width: 100%;
  height: 40px;
  background-color: var(--azul-principal);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 0 auto;
}

button.submit:hover {
  background-color: #061e4e;
}

/* Link de "Esqueceu a senha" */
.forgot_password a {
  color: var(--azul-principal);
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.forgot_password a:hover {
  color: var(--amarelo-principal);
}

#djangoErrors {
  font-family: "Montserrat", sans-serif;
  position: relative;
  bottom: 10px;
  color: red;
  font-weight: 500;
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
